@*
    For more informMation on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CoreDeneme.Model.Profile>
@{

}
@foreach (var item in Model)
{
    <h4>@item.Customer_Name</h4>
}
